
<!--==========================
Header
============================-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!-- brand name --}}
    <a class="navbar-brand" href="#">
        <i class="far fa-newspaper"></i>
        <span id="brand">Scrape New York Time Tech</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- nav topics --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="SavedArt">Saved Articles</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!--==========================
Intro Section
============================-->
<div class="jumbotron jumbotron-fluid" style="background-image: url('images/intrbackground.jpg')">
    <div class="container">
        <h1 class="display-4">New York Time Tech</h1>
        <p class="lead">New York Time Tech</p>
    </div>
</div>

<!--==========================
News Section
============================-->
<section id="portfolio"  class="section-bg" >
    <div class="row justify-content-center">
        <button id="scrapeBnt" type="button" class="btn btn-info">Scrape</button>
        <button type="button" class="btn btn-light">=></button>
        <button id="freshBnt" type="button" class="btn btn-info">Fetch</button>
    </div>
    <div id="newsSec">
        {{> news/news-blocks}}
    </div>
    
    
</section>

<script src="javascripts/handleEvents.js"></script>