p {
    font-size: .7em;
    margin-bottom: .3em;
}

#brand {
    font-style: oblique;
    font-family: 'Pacifico', cursive;;
}

.form-control  {
    border: 2px solid #17a2b8;
    border-radius: 5px;
}