
    <div class="row justify-content-md-center">
        <div class="col-10" style="background:AliceBlue;margin: 2em">
            <div class="userInfo" >
                <h6>{{postUser}}</h6>
                <p>{{postDate}}</p>
            </div>
            <div class="comment">
                <p>{{comment}}</p>
            </div>
        </div>
    </div>
